.header__links {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 6px;
}

@media screen and (max-width: 767px) {
  .header__links {

    font-size: 18px;
    line-height: 20px;
    margin-bottom: 8px;
  }
} 