.lead__title {
  margin: 0 auto 32px;
  padding: 0;
  max-width: 720px;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  text-align: center;
}


@media screen and (max-width: 767px) {
  .lead__title {
    width: calc(100% - 16px*2);
    font-size: 40px;
    line-height: 44px;
    margin: 0 auto 16px;
  }
} 