.places__card {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: max-content 1fr;
  column-gap: 40px;
  row-gap: 48px;
  margin: 0 0 80px;
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .places__card {
    grid-template-columns: 440px 1fr;
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .places__card {
    grid-template-columns: 340px 1fr;
    grid-template-rows: max-content 1fr;
    column-gap: 28px;
    row-gap: 48px;
    margin: 0 0 73px;
  }
  .places__card-title_min_margin {
    margin: 0 0 72px;
  }
}

@media screen and (max-width: 767px) {
  .places__card {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, max-content);
    row-gap: 32px;
    margin: 0 0 50px;
  }
}