.road__el {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: calc(100% - 48px*2);
  margin: 0 auto 92px;
  background-image: url(../../../images/road-min.jpg);
  min-height: 740px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
}

.road__el::before{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: " ";
  background-image: url(../../../../images/__overlay-min_normal.png);
  text-decoration: none;
}

.road__el:hover::before {
  background-image: url(../../../../images/__overlay-min_active.png);
}

@media screen and (max-width: 1279px) {
  .road__el {
    min-width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .road__el {
    min-height: 480px;
    margin: 0 auto 88px;
  }
}

@media screen and (max-width: 767px) {
  .road__el {
    min-height: 200px;
    margin: 0 auto 64px;
  }
}
